<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="google-signin-client_id" content="<%= googleClientId %>">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Web Presentations</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app"></div>
  </body>
</html>
