.divider {
  font-size: 24px;
  text-align: center;
  padding: 40px 40px 0;

  span {
    display: table-cell;
    position: relative;

    &:first-child,
    &:last-child {
      width: 50%;
      top: 18px;
      -moz-background-size: 100% 2px;
      background-size: 100% 2px;
      background-position: 0 0, 0 100%;
      background-repeat: no-repeat;
    }

    &:first-child {
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
      background-image: -webkit-linear-gradient(180deg, transparent, #000);
      background-image: -moz-linear-gradient(180deg, transparent, #000);
      background-image: -o-linear-gradient(180deg, transparent, #000);
      background-image: linear-gradient(90deg, transparent, #000);
    }

    &:last-child {
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
      background-image: -webkit-linear-gradient(180deg, #000, transparent);
      background-image: -moz-linear-gradient(180deg, #000, transparent);
      background-image: -o-linear-gradient(180deg, #000, transparent);
      background-image: linear-gradient(90deg, #000, transparent);
    }

    &:nth-child(2) {
      color: #000;
      padding: 0 5px;
      width: auto;
      white-space: nowrap;
    }
  }
}