.slide-list-container {
  position: relative;
  flex: 0.2;
  margin-right: 20px;

  .slide-list {
    padding: 20px;

    > .slide {
      width: 90%;
      height: 100px;
      margin-bottom: 20px;
    }
  }
}